.statistics {
  margin: 0 auto;
  margin-top: 60px;
  width: 350px;
  color: #1f3349;
  border-radius: 10px;
  background-color: #ffff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.title {
  font-weight: 700;
  font-size: 17px;
  margin: 0;
  padding: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}

.statList {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: #f3f6f9;
  border-radius: 10px;
}

.item {
  color: #ffff;
  padding: 15px 15px 15px 15px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.item:first-child {
  border-bottom-left-radius: 10px;
}

.item:last-child {
  border-bottom-right-radius: 10px;
}

.label {
  font-size: 10px;
  margin-bottom: 5px;
}

.percentage {
  font-size: 15px;
}
